In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import *
from numpy import mean
import seaborn as sns
from math import sqrt

In [2]:
data = pd.read_excel("./Data/Two independent samples.xls")
data.head()

      A     B
0  15.1  12.1
1  11.2  10.2
2  10.3  13.6
3  10.8   8.1
4  16.6  13.5

In [3]:
data.describe()

               A          B
count  72.000000  80.000000
mean   11.415278  10.651250
std     2.081417   3.027469
min     8.000000   6.800000
25%    10.025000   7.775000
50%    11.050000  10.700000
75%    12.525000  12.825000
max    16.600000  26.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 2 columns):
A    72 non-null float64
B    80 non-null float64
dtypes: float64(2)
memory usage: 1.4 KB

In [5]:
# A va B co cung phuong sai khong biet truoc, A va B doc lap
# Kiem dinh gia thiet: H0: 2 quan the co cung gia tri trung binh

In [6]:
#cach 1: truyen thong

In [7]:
def independent_ttest(data1,data2,alpha):
    mean1, mean2 = mean(data1), mean(data2)
    se1, se2 = stats.sem(data1), stats.sem(data2)
    sed = sqrt(se1**2.0 + se2**2.0)
    t_stat = (mean1 - mean2)/sed
    df = len(data1) + len(data2) - 2
    cv = t.ppf(1.0 - alpha,df)
    p = (1.0 - t.cdf(abs(t_stat),df)) * 2.0
    return t_stat, df, cv, p

In [8]:
groups = list(data.columns)
samples = []
for i in range(2):
    sample = [x for x in data[groups[i]] if pd.notnull(x)]
    samples.append(sample)

In [9]:
alpha=0.05

In [10]:
t_stat, df, cv, p = independent_ttest(data1=samples[0],data2=samples[1],alpha=0.05)
print("t=%.3f, df= %d, cv=%.3f, p=%.3f" %(t_stat, df, cv, p))

t=1.828, df= 150, cv=1.655, p=0.070

In [11]:
#cach 2: dung ham

In [12]:
t_2, p_2 = ttest_ind(samples[0],samples[1])
print("t=%.3f, p=%.3f" % (t_2,p_2))

t=1.793, p=0.075

In [13]:
#Ket luan:
if p < 0.05:
    print("Bác bỏ giả thiết 2 mẫu có cùng giá trị trung bình.")
else:
    print("Không bác bỏ giả thiết 2 mẫu có cùng giá trị trung bình.")

Không bác bỏ giả thiết 2 mẫu có cùng giá trị trung bình.